
.App{
    background-color: rgb(162, 243, 239);
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
  }
  
  .form{
    
    background-color: rgb(233, 246, 180);
    justify-content: center;
    align-items: center;
    padding: 30px;
    height: 400px;
    width: 300px;
    margin-right: 180px;
    border-radius: 20px;
    border: 3px solid rgb(91, 6, 108);
  }
  .form h1{
    text-align: center;
    color: rgb(91, 4, 88);
  
  }
  .username{
    
    text-align: center;
    padding: 20px;
  }
  .password{
    text-align: center;
    padding: 20px;
  }
  .login{
    text-align: center;
    padding: 20px;
  }
  
  .username input{
    height: 40px;
    width: 250px;
    background-color: rgb(242, 226, 241);
    border-radius: 20px;
    border: 3px solid rgb(91, 6, 108);
  }
  .password input{
    height: 40px;
    width: 250px;
    background-color: rgb(242, 226, 241);
    border-radius: 20px;
    border: 3px solid rgb(91, 6, 108);
  }
  .login button{
    height: 40px;
    width: 200px;
    background-color:rgb(91, 6, 108);
    border-radius: 20px;
    border: 3px solid rgb(91, 6, 108);
    color:  white;
    
  }
  
  .body{
    background-color: cyan;
  
    
  }
  .right-div{
    flex: 1;
    display: flex;
    margin-left: 50%;
    justify-content: center;
    align-items: center;
    
  
  }
  
  .left-div{
    flex: 1;
    background-color: aqua;
   
  }
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  